@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1675494772031') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-haoyou:before {
  content: "\f014b";
}

.icon-shoucangjia:before {
  content: "\3432";
}

.icon-chongzhijilu:before {
  content: "\e68d";
}

.icon-touxiang:before {
  content: "\e655";
}

.icon-loufang:before {
  content: "\e64f";
}

.icon-icon_search:before {
  content: "\e614";
}

.icon-shui2:before {
  content: "\e66d";
}

.icon-chongzhijine:before {
  content: "\e65f";
}

.icon-yun:before {
  content: "\e634";
}

.icon-shouye:before {
  content: "\e639";
}

.icon-gouwuche:before {
  content: "\e899";
}

.icon-youjiantou:before {
  content: "\e678";
}

.icon-zuojiantou:before {
  content: "\e67c";
}

.icon-suozi:before {
  content: "\e629";
}

.icon-xiajiantou:before {
  content: "\e61f";
}

.icon-dayinduizhangdan:before {
  content: "\e615";
}

.icon-yun1:before {
  content: "\eb2c";
}

.icon-lishihuiyi:before {
  content: "\e618";
}

.icon-jiagegusuan:before {
  content: "\e627";
}

.icon-fenzu:before {
  content: "\e66c";
}

.icon-lishishuju:before {
  content: "\e653";
}

.icon-duanxinyingxiao-qunfaduanxin:before {
  content: "\e52c";
}

.icon-dian:before {
  content: "\e67a";
}

.icon-dianbiao:before {
  content: "\e688";
}

.icon-yonghu:before {
  content: "\e69f";
}

.icon-zhangdan:before {
  content: "\e63f";
}

.icon-dianli:before {
  content: "\e665";
}

.icon-xiajiantou1:before {
  content: "\e60a";
}

.icon-drip:before {
  content: "\e916";
}

.icon-a-guihuatubiaoyuanwenjianFarlim_huaban1fuben11:before {
  content: "\e60b";
}

.icon-a-guihuatubiaoyuanwenjianFarlim_huaban1fuben10:before {
  content: "\e60c";
}

.icon-morentouxiang:before {
  content: "\e663";
}

.icon-yongliangtongji:before {
  content: "\e609";
}

